body {
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      width: 100%;
      height: 100vh;
      /* background-color: var(--bg-color); */
      color: var(--main-text-color);
}

:root {
    --bg-color: #343d4b;
    --bg-color--card: #222831;
    --text-color: #fff;
    --main-text-color: #000000;

    --main-border-radius: 25px;
    --secondary-border-radius: 15px;
}